.backgroundLogin {
  position: relative;
}
.backgroundLogin img {
  width: 100%;
  height: 600px;
}
.borderFormLogin {
  position: absolute;
  top: 10%;
  left: 30%;
  background-color: white;
  border-radius: 14px;
  width: 20rem;
  text-align: center;
  padding: 50px;
  box-shadow: 0 0 0 3px white;
}
.borderFormLogin h1 {
  margin-top: 10px;
}
.borderFormLogin input {
  width: 100%;
  height: 3rem;
}
.borderFormLogin button {
  margin: 20px 0px;
  width: 100%;
  text-align: center;
  background: #333;
  color: beige;
  border: none;
  height: 2.5rem;
}
.backgroundLogin a {
  text-decoration: none;
}
