.popup {
  position: relative;
}
.popup h5 {
  margin-top: 2rem;
}
.popup p {
  text-align: justify;
}
.close-modal {
  position: absolute;
  top: 0.5px;
  right: 0.5rem;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.scroll {
  max-height: 15rem;

  overflow: scroll;
}
.popup img {
  width: 90%;
}
.bt2 button {
  border: none;
  background: rgb(33, 32, 32);
  padding: 5px;
}
.popup a {
  text-decoration: none;
  color: rgb(186, 186, 186);
}
.popup i {
  color: aliceblue;
}
@media (max-width: 768px) {
  .popup p {
    max-height: 10rem;
    overflow: scroll;
  }
}
