.backgroundSignUp {
  position: relative;
}
.backgroundSignUp img {
  width: 100%;
  height: 650px;
}
.borderSignUp {
  border-radius: 14px;
  background: white;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 20%;
  width: 25rem;
  padding: 20px;
}
.borderSignUp input {
  width: 100%;
  height: 3rem;
}
.borderSignUp button {
  background: #333;
  color: aliceblue;
  border: none;
  margin: 10px 0px;
  width: 100%;
  height: 3rem;
}
.buttonSignUp a {
  color: aliceblue;
}
.borderSignUp a {
  text-decoration: none;
}
