.borderCartPage {
  margin: 10px 80px;
}
.borderCartPage button {
  margin-top: 10px;
}
.product {
  text-align: center;
}
.product img {
  width: 100%;
}
.product span {
  cursor: pointer;
  padding: 5px;
}
.cartTotal {
  background: rgb(239, 243, 239);
  padding: 10px;
  height: 300px;
}
.cartTotal span {
  margin-left: 30%;
}
.cartTotal input {
  width: 100%;
  height: 3rem;
}
.cartTotal button {
  color: white;
  height: 3rem;
  width: 100%;
  border: none;
  background: #333;
}
.cartContineu {
  padding: 5px;
  margin-top: 10px;
}
.cartContineu p {
  margin-top: 10px;
}
.cartContineu p:hover {
  border: solid 1px black;
  cursor: pointer;
  padding: 5px;
}
.cartContineu span {
  padding: 5px;
}
.textAlignRight {
  text-align: right;
}
.cartContineu a {
  color: black;
  text-decoration: none;
}
