.banner {
  margin: 10px 80px;
  position: relative;
}
.banner img {
  width: 100%;
}
.bannerContent {
  position: absolute;
  top: 30%;
  left: 5%;
}
.bannerContent button {
  margin-top: 5px;
  border: none;
  background: rgb(30, 29, 29);
  padding: 5px;
}
.bannerContent p {
  color: gray;
}
.bannerContent a {
  text-decoration: none;
  color: white;
}
